:root{
    --text-color:#344
}
header{
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 45px;
    text-align: center;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
input[type="submit"]{
    margin: 5px;
    width: 150px;
    height: 40px;
}
input[type="text"]{
    height: 35px;
    width: 70%;
}
label{
    margin: 10px;
}
ul{
    color: var(--text-color);
}